<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMMOTECH Database Tool</title>
</head>
<body>
    <header>
        <h1>Welcome to IMMOTECH ERP</h1>
    </header>
    <main>
        <p>Use the navigation menu to access different features:</p>
        <ul>
            <li><a href="/vehicles">Vehicles</a></li>
            <li><a href="/employees">Employees</a></li>
            <li><a href="/boardmembers">Board members</a></li>
            <li><a href="/vehicle-usage-logs">Vehicle usage logs</a></li>
            <li><a href ="/contracts">Contracts</a></li>
        </ul>
    </main>
</body>
</html>


